*{
    padding: 0;
    margin: 0;
}

#niv{
    width: 100%;
    height: auto;
    background-color: rgb(239, 233, 233);
    display: flex;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#niv>p{
    margin-right: 30px;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}